@model HomeDetailsViewModel

@{ ViewData["Title"] = "Szczegóły";
    //var photoPath = "~/files/" + (Model.Cover ?? "noimage.jpg");
    var photoPath = Model.Cover; // moje zeby wyswietlao tylko bloby }
}
<h1>Szczegóły</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Title</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Tytuł: @Model.Title</h4>
                <h4>Data: @Model.Date</h4>
                @if (Model.ItemType == Enums.ItemType.CD)
                {
                    <h4>Nazwa Wykonawcy: @Model.AuthorName</h4>
                    <h4>Nośnik: CD</h4> }
                else if (Model.ItemType == Enums.ItemType.DVD)
                {
                    <h4>Nazwisko Reżysera: @Model.AuthorName</h4>
                    <h4>Nośnik: DVD</h4> }
                else
                {
                    <h4>Nazwisko Autora: @Model.AuthorName</h4>
                    <h4>Nośnik: książka</h4>}

                @if (Model.Status == Enums.StatusType.Dostepna)
                {
                    <h4>Status: Na półce </h4> }
                else
                {
                    <h4>Status: Wypożyczony </h4>}

                @if (Model.RentalApprovingPerson == "" || Model.RentalApprovingPerson == null)
                {
                    <h4>Data zwrotu: @Model.DateOfRent</h4>
                }
                else
                {
                    <h4>Data wypożyczenia: @Model.DateOfRent</h4>
                    <h4>Osoba zatwierdzajaca: @Model.RentalApprovingPerson</h4>
                    <h4>Komentarz (kto wypożyczył): @Model.Borrower</h4>
                }

            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="index" class="btn btn-primary">Lista</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-primary">Edytuj</a>
                @if (Model.RentalApprovingPerson == ""|| Model.RentalApprovingPerson==null)
                {
                    <a asp-controller="Home" asp-action="Rent" asp-route-id="@Model.Id"
                       class="btn btn-primary">Wypożycz</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Return" asp-route-id="@Model.Id"
                       class="btn btn-primary">Zwróć</a>
                }
                <a asp-controller="Home" asp-action="DeleteBook" asp-route-id="@Model.Id"
                   class="btn btn-danger">Usuń</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

