@model HomeDetailsViewModel

@{
    ViewData["Title"] = "Szczegóły";
    var photoPath = "~/files/" + (Model.Cover ?? "noimage.jpg");
}

<h1>Szczegóły</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Title</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Employee ID : @Model.Id</h4>
                <h4>AuthorName : @Model.AuthorName</h4>
                <h4>Date : @Model.Date</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Lista</a>
                <a asp-controller="home" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-primary">Edytuj</a>
                <a href="#" class="btn btn-danger">Usuń</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

